$primary: #f78f20;
$on-primary: #f7f7f7;
$secondary: #825dab;
$on-secondary: #ffffff;
$surface: #f7f7f7;
$on-surface: #606060;
$on-surface-variant: #242323;

$success: #20bf7a;
$caution: #ffb900;
$error: #fd5c5c;
